<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>

            <label for="text">E-Mail</label>
            <input name="emailUsuario" type="email" placeholder="Digite seu email" autofocus="true" />

            <label for="password">Senha</label>
            <input name="senhaUsuario" type="password" placeholder="Digite sua senha" />

            <a href="/registrar">Não tem conta? Cadastre aqui!</a>
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div>
    <script th:if="${mensagemLogin != null}">
        var message = "[[${#strings.escapeJavaScript(mensagemLogin)}]]";
        alert(message);
    </script>
</body>
</html>
